Debug\*.*
Release\*.*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.metagen
Exporter/Debug/ExporterBridge.exp
*.ilk
Exporter/Debug/ExporterBridge.pdb
*.pdb
*.ini
Exporter/Exporter.sdf
*.suo
Exporter/ipch/exporterhost-e66b3a48/exporterhost-23f8c1e3.ipch
*.ipch
*.tlog
*.log
*.bi
*.lastbuildstate
*.unsuccessfulbuild
*.cache
*.txt
*.idb
*.sdf
*.opensdf
ImportExport/Exporter/Exporter.sdf
*.res
*.exp
